/* 🌟 CSS Sprite 雪碧圖基礎與分類設定 */
.sprite-base {
    background-repeat: no-repeat;
    display: block;
}
.sprite-common { background-image: url('char_sprites/common_icon.png'); }
.sprite-char-composed { background-image: url('char_sprites/char_composed.png'); }
.sprite-char-depressed { background-image: url('char_sprites/char_depressed.png'); }
.sprite-char-innocence { background-image: url('char_sprites/char_innocence.png'); }
.sprite-char-madness { background-image: url('char_sprites/char_madness.png'); }
.sprite-char-vivacious { background-image: url('char_sprites/char_vivacious.png'); }
.sprite-ult-composed { background-image: url('char_sprites/ultimate_composed.png')!important; }
.sprite-ult-depressed { background-image: url('char_sprites/ultimate_depressed.png')!important; }
.sprite-ult-innocence { background-image: url('char_sprites/ultimate_innocence.png')!important; }
.sprite-ult-madness { background-image: url('char_sprites/ultimate_madness.png')!important; }
.sprite-ult-vivacious { background-image: url('char_sprites/ultimate_vivacious.png')!important; }

/* =======================================
   🌟 通用圖示 (common_icon.png)
   ======================================= */
.sprite-1STAR { width: 116px; height: 116px; background-position: -5px -5px; }
.sprite-2STAR { width: 206px; height: 116px; background-position: -5px -131px; }
.sprite-3STAR { width: 296px; height: 116px; background-position: -5px -257px; }
.sprite-ASIDE_1STAR { width: 73px; height: 29px; background-position: -493px -5px; }
.sprite-ASIDE_2STAR { width: 73px; height: 29px; background-position: -576px -5px; }
.sprite-ASIDE_3STAR { width: 73px; height: 29px; background-position: -659px -5px; }
.sprite-Album_Icon_Info { width: 54px; height: 54px; background-position: -493px -44px; }
.sprite-Album_Icon_Skin { width: 58px; height: 62px; background-position: -557px -44px; }
.sprite-Bg_Dragon { width: 114px; height: 114px; background-position: -625px -44px; }
.sprite-Bg_Elemental { width: 114px; height: 114px; background-position: -493px -168px; }
.sprite-Bg_Elf { width: 114px; height: 114px; background-position: -617px -168px; }
.sprite-Bg_Phantom { width: 114px; height: 114px; background-position: -493px -292px; }
.sprite-Bg_Sprite { width: 114px; height: 114px; background-position: -617px -292px; }
.sprite-Bg_Unknown { width: 114px; height: 114px; background-position: -5px -416px; }
.sprite-Bg_Werebeast { width: 114px; height: 114px; background-position: -129px -416px; }
.sprite-Bg_Witch { width: 114px; height: 114px; background-position: -253px -416px; }
.sprite-GachaButton { width: 72px; height: 72px; background-position: -377px -416px; }
.sprite-Icon_GachaPersonality { width: 64px; height: 64px; background-position: -459px -416px; }
.sprite-Icon_GachaPersonality_10 { width: 72px; height: 72px; background-position: -533px -416px; }
.sprite-Icon_GachaTicketHero { width: 64px; height: 64px; background-position: -615px -416px; }
.sprite-Icon_GachaTicketHero_10 { width: 72px; height: 72px; background-position: -615px -490px; }
.sprite-Job_DPS { width: 64px; height: 64px; background-position: -459px -490px; }
.sprite-Job_Support { width: 64px; height: 64px; background-position: -5px -572px; }
.sprite-Job_Tank { width: 64px; height: 64px; background-position: -79px -572px; }
.sprite-Personality_Composed { width: 62px; height: 66px; background-position: -153px -572px; }
.sprite-Personality_Depressed { width: 62px; height: 66px; background-position: -225px -572px; }
.sprite-Personality_Innocence { width: 62px; height: 66px; background-position: -297px -572px; }
.sprite-Personality_Madness { width: 62px; height: 66px; background-position: -369px -572px; }
.sprite-Personality_Vivacious { width: 62px; height: 66px; background-position: -441px -572px; }
.sprite-PickPerconalityIcon_EldainHero { width: 73px; height: 71px; background-position: -513px -572px; }
.sprite-PickPerconalityIcon_NormalHero { width: 73px; height: 71px; background-position: -596px -572px; }
.sprite-Position_Back { width: 64px; height: 64px; background-position: -5px -653px; }
.sprite-Position_Front { width: 64px; height: 64px; background-position: -79px -653px; }
.sprite-Position_Middle { width: 64px; height: 64px; background-position: -153px -653px; }
.sprite-Race_Dragon { width: 55px; height: 55px; background-position: -679px -572px; }
.sprite-Race_Elemental { width: 55px; height: 55px; background-position: -679px -637px; }
.sprite-Race_Elf { width: 55px; height: 55px; background-position: -749px -5px; }
.sprite-Race_Phantom { width: 55px; height: 55px; background-position: -749px -70px; }
.sprite-Race_Sprite { width: 55px; height: 55px; background-position: -749px -135px; }
.sprite-Race_Unknown { width: 55px; height: 55px; background-position: -741px -200px; }
.sprite-Race_Werebeast { width: 55px; height: 55px; background-position: -741px -265px; }
.sprite-Race_Witch { width: 55px; height: 55px; background-position: -741px -330px; }
.sprite-Title_Rim { width: 64px; height: 64px; background-position: -741px -395px; }
.sprite-Type_Magic { width: 64px; height: 64px; background-position: -697px -469px; }
.sprite-Type_Physic { width: 64px; height: 64px; background-position: -227px -702px; }
.sprite-boardoff_ATK { width: 64px; height: 64px; background-position: -301px -702px; }
.sprite-boardoff_CRI { width: 64px; height: 64px; background-position: -375px -702px; }
.sprite-boardoff_DEF { width: 64px; height: 64px; background-position: -449px -702px; }
.sprite-boardoff_HP { width: 64px; height: 64px; background-position: -523px -702px; }
.sprite-boardoff_RES { width: 64px; height: 64px; background-position: -597px -702px; }
.sprite-boardon_ATK { width: 64px; height: 64px; background-position: -671px -702px; }
.sprite-boardon_CRI { width: 64px; height: 64px; background-position: -814px -5px; }
.sprite-boardon_DEF { width: 64px; height: 64px; background-position: -814px -79px; }
.sprite-boardon_HP { width: 64px; height: 64px; background-position: -814px -153px; }
.sprite-boardon_RES { width: 64px; height: 64px; background-position: -806px -227px; }
.sprite-attack_magical { width: 64px; height: 64px; background-position: -806px -301px; }
.sprite-minirim { width: 63px; height: 83px; background-position: -815px -375px; }
.sprite-attack_physical { width: 64px; height: 64px; background-position: -815px -468px; }
.sprite-letter { width: 144px; height: 117px; background-position: -740px -654px; }
.sprite-no_aside {width: 199px; height: 169px; background-position: -284px -5px;}

/* =======================================
   🌟 角色頭像 (char_*.png)
   ======================================= */
/* Composed */
.sprite-Amelia { width: 126px; height: 126px; background-position: -5px -5px; }
.sprite-Aya { width: 126px; height: 126px; background-position: -5px -141px; }
.sprite-Barong { width: 126px; height: 126px; background-position: -5px -277px; }
.sprite-Ed { width: 126px; height: 126px; background-position: -5px -413px; }
.sprite-Elena { width: 126px; height: 126px; background-position: -5px -549px; }
.sprite-Espi { width: 126px; height: 126px; background-position: -5px -685px; }
.sprite-Fricle { width: 126px; height: 126px; background-position: -5px -821px; }
.sprite-Jade { width: 126px; height: 126px; background-position: -5px -957px; }
.sprite-Lazy { width: 126px; height: 126px; background-position: -5px -1093px; }
.sprite-Meluna { width: 126px; height: 126px; background-position: -5px -1229px; }
.sprite-Patula { width: 126px; height: 126px; background-position: -5px -1365px; }
.sprite-Picora { width: 126px; height: 126px; background-position: -5px -1501px; }
.sprite-Sylla { width: 126px; height: 126px; background-position: -5px -1637px; }
.sprite-Velvet { width: 126px; height: 126px; background-position: -5px -1773px; }
/* Depressed */
.sprite-Ashur { width: 126px; height: 126px; background-position: -5px -5px; }
.sprite-Blanchet { width: 126px; height: 126px; background-position: -5px -141px; }
.sprite-Chopi { width: 126px; height: 126px; background-position: -5px -277px; }
.sprite-Festa { width: 126px; height: 126px; background-position: -5px -413px; }
.sprite-Hilde { width: 126px; height: 126px; background-position: -5px -549px; }
.sprite-Kidian { width: 126px; height: 126px; background-position: -5px -685px; }
.sprite-Kommy { width: 126px; height: 126px; background-position: -5px -821px; }
.sprite-Levi { width: 126px; height: 126px; background-position: -5px -957px; }
.sprite-Posher { width: 126px; height: 126px; background-position: -5px -1093px; }
.sprite-Rim { width: 126px; height: 126px; background-position: -5px -1229px; }
.sprite-Risty { width: 126px; height: 126px; background-position: -5px -1365px; }
.sprite-Snorky { width: 126px; height: 126px; background-position: -5px -1501px; }
.sprite-Veroo { width: 126px; height: 126px; background-position: -5px -1637px; }
.sprite-Yomi { width: 126px; height: 126px; background-position: -5px -1773px; }
.sprite-xXionx { width: 126px; height: 126px; background-position: -5px -1909px; }
/* Innocence */
.sprite-Allet { width: 126px; height: 126px; background-position: -5px -5px; }
.sprite-BigWood { width: 126px; height: 126px; background-position: -5px -141px; }
.sprite-Cuee { width: 126px; height: 126px; background-position: -5px -277px; }
.sprite-Erpin { width: 126px; height: 126px; background-position: -5px -413px; }
.sprite-Gabia { width: 126px; height: 126px; background-position: -5px -549px; }
.sprite-Haley { width: 126px; height: 126px; background-position: -5px -685px; }
.sprite-Kyarot { width: 126px; height: 126px; background-position: -5px -821px; }
.sprite-Mago { width: 126px; height: 126px; background-position: -5px -957px; }
.sprite-Naia { width: 126px; height: 126px; background-position: -5px -1093px; }
.sprite-Rohne { width: 126px; height: 126px; background-position: -5px -1229px; }
.sprite-Sari { width: 126px; height: 126px; background-position: -5px -1365px; }
.sprite-Silphir { width: 126px; height: 126px; background-position: -5px -1501px; }
.sprite-Speaki { width: 126px; height: 126px; background-position: -5px -1637px; }
.sprite-Vivi { width: 126px; height: 126px; background-position: -5px -1773px; }
.sprite-Daya { width: 126px; height: 126px; background-position: -5px -1909px; }
/* Madness */
.sprite-Alice { width: 126px; height: 126px; background-position: -5px -5px; }
.sprite-Belita { width: 126px; height: 126px; background-position: -5px -141px; }
.sprite-Chloe { width: 126px; height: 126px; background-position: -5px -277px; }
.sprite-Diana { width: 126px; height: 126px; background-position: -5px -413px; }
.sprite-Ifrit { width: 126px; height: 126px; background-position: -5px -549px; }
.sprite-Leets { width: 126px; height: 126px; background-position: -5px -685px; }
.sprite-MaestroMK2 { width: 126px; height: 126px; background-position: -5px -821px; }
.sprite-Maison { width: 126px; height: 126px; background-position: -5px -957px; }
.sprite-Mayo { width: 126px; height: 126px; background-position: -5px -1093px; }
.sprite-Ner { width: 126px; height: 126px; background-position: -5px -1229px; }
.sprite-RenewaAwaken { width: 126px; height: 126px; background-position: -5px -1365px; }
.sprite-Shady { width: 126px; height: 126px; background-position: -5px -1501px; }
.sprite-Sist { width: 126px; height: 126px; background-position: -5px -1637px; }
.sprite-Yumimi { width: 126px; height: 126px; background-position: -5px -1773px; }
/* Vivacious */
.sprite-Beni { width: 126px; height: 126px; background-position: -5px -5px; }
.sprite-Butter { width: 126px; height: 126px; background-position: -5px -141px; }
.sprite-Canna { width: 126px; height: 126px; background-position: -5px -277px; }
.sprite-Carren { width: 126px; height: 126px; background-position: -5px -413px; }
.sprite-Epica { width: 126px; height: 126px; background-position: -5px -549px; }
.sprite-Jubee { width: 126px; height: 126px; background-position: -5px -685px; }
.sprite-Marie { width: 126px; height: 126px; background-position: -5px -821px; }
.sprite-Momo { width: 126px; height: 126px; background-position: -5px -957px; }
.sprite-Mynx { width: 126px; height: 126px; background-position: -5px -1093px; }
.sprite-Rude { width: 126px; height: 126px; background-position: -5px -1229px; }
.sprite-Rufo { width: 126px; height: 126px; background-position: -5px -1365px; }
.sprite-Selline { width: 126px; height: 126px; background-position: -5px -1501px; }
.sprite-Shoupan { width: 126px; height: 126px; background-position: -5px -1637px; }
.sprite-Taida { width: 126px; height: 126px; background-position: -5px -1773px; }
.sprite-Ui { width: 126px; height: 126px; background-position: -5px -1909px; }
.sprite-Tig { width: 126px; height: 126px; background-position: -5px -2045px; }

/* =======================================
   🌟 角色大絕頭像 (ultimate_*.png)
   ======================================= */
/* Composed */
.sprite-Icon_UltimateSkill_Amelia { width: 64px; height: 64px; background-position: -5px -5px; }
.sprite-Icon_UltimateSkill_Aya { width: 64px; height: 64px; background-position: -5px -79px; }
.sprite-Icon_UltimateSkill_Barong { width: 64px; height: 64px; background-position: -5px -153px; }
.sprite-Icon_UltimateSkill_Ed { width: 64px; height: 64px; background-position: -5px -227px; }
.sprite-Icon_UltimateSkill_Elena { width: 64px; height: 64px; background-position: -5px -301px; }
.sprite-Icon_UltimateSkill_Espi { width: 64px; height: 64px; background-position: -5px -375px; }
.sprite-Icon_UltimateSkill_Fricle { width: 64px; height: 64px; background-position: -5px -449px; }
.sprite-Icon_UltimateSkill_Jade { width: 64px; height: 64px; background-position: -5px -523px; }
.sprite-Icon_UltimateSkill_Lazy { width: 64px; height: 64px; background-position: -5px -597px; }
.sprite-Icon_UltimateSkill_Meluna { width: 64px; height: 64px; background-position: -5px -671px; }
.sprite-Icon_UltimateSkill_Patula { width: 64px; height: 64px; background-position: -5px -745px; }
.sprite-Icon_UltimateSkill_Picora { width: 64px; height: 64px; background-position: -5px -819px; }
.sprite-Icon_UltimateSkill_Sylla { width: 64px; height: 64px; background-position: -5px -893px; }
.sprite-Icon_UltimateSkill_Velvet { width: 64px; height: 64px; background-position: -5px -967px; }
/* Depressed */
.sprite-Icon_UltimateSkill_Ashur { width: 64px; height: 64px; background-position: -5px -5px; }
.sprite-Icon_UltimateSkill_Blanchet { width: 64px; height: 64px; background-position: -5px -79px; }
.sprite-Icon_UltimateSkill_Chopi { width: 64px; height: 64px; background-position: -5px -153px; }
.sprite-Icon_UltimateSkill_Festa { width: 64px; height: 64px; background-position: -5px -227px; }
.sprite-Icon_UltimateSkill_Hilde { width: 64px; height: 64px; background-position: -5px -301px; }
.sprite-Icon_UltimateSkill_Kidian { width: 64px; height: 64px; background-position: -5px -375px; }
.sprite-Icon_UltimateSkill_Kommy { width: 64px; height: 64px; background-position: -5px -449px; }
.sprite-Icon_UltimateSkill_Levi { width: 64px; height: 64px; background-position: -5px -523px; }
.sprite-Icon_UltimateSkill_Posher { width: 64px; height: 64px; background-position: -5px -597px; }
.sprite-Icon_UltimateSkill_Rim { width: 64px; height: 64px; background-position: -5px -671px; }
.sprite-Icon_UltimateSkill_Risty { width: 64px; height: 64px; background-position: -5px -745px; }
.sprite-Icon_UltimateSkill_Snorky { width: 64px; height: 64px; background-position: -5px -819px; }
.sprite-Icon_UltimateSkill_Veroo { width: 64px; height: 64px; background-position: -5px -893px; }
.sprite-Icon_UltimateSkill_Yomi { width: 64px; height: 64px; background-position: -5px -967px; }
.sprite-Icon_UltimateSkill_xXionx { width: 64px; height: 64px; background-position: -5px -1041px; }
/* Innocence */
.sprite-Icon_UltimateSkill_Allet { width: 64px; height: 64px; background-position: -5px -5px; }
.sprite-Icon_UltimateSkill_BigWood { width: 64px; height: 64px; background-position: -5px -79px; }
.sprite-Icon_UltimateSkill_Cuee { width: 64px; height: 64px; background-position: -5px -153px; }
.sprite-Icon_UltimateSkill_Erpin { width: 64px; height: 64px; background-position: -5px -227px; }
.sprite-Icon_UltimateSkill_Gabia { width: 64px; height: 64px; background-position: -5px -301px; }
.sprite-Icon_UltimateSkill_Haley { width: 64px; height: 64px; background-position: -5px -375px; }
.sprite-Icon_UltimateSkill_Kyarot { width: 64px; height: 64px; background-position: -5px -449px; }
.sprite-Icon_UltimateSkill_Mago { width: 64px; height: 64px; background-position: -5px -523px; }
.sprite-Icon_UltimateSkill_Naia { width: 64px; height: 64px; background-position: -5px -597px; }
.sprite-Icon_UltimateSkill_Rohne { width: 64px; height: 64px; background-position: -5px -671px; }
.sprite-Icon_UltimateSkill_Sari { width: 64px; height: 64px; background-position: -5px -745px; }
.sprite-Icon_UltimateSkill_Silphir { width: 64px; height: 64px; background-position: -5px -819px; }
.sprite-Icon_UltimateSkill_Speaki { width: 64px; height: 64px; background-position: -5px -893px; }
.sprite-Icon_UltimateSkill_Vivi { width: 64px; height: 64px; background-position: -5px -967px; }
.sprite-Icon_UltimateSkill_Daya { width: 64px; height: 64px; background-position: -5px -1041px;}
/* Madness */
.sprite-Icon_UltimateSkill_Alice { width: 64px; height: 64px; background-position: -5px -5px; }
.sprite-Icon_UltimateSkill_Belita { width: 64px; height: 64px; background-position: -5px -79px; }
.sprite-Icon_UltimateSkill_Chloe { width: 64px; height: 64px; background-position: -5px -153px; }
.sprite-Icon_UltimateSkill_Diana { width: 64px; height: 64px; background-position: -5px -227px; }
.sprite-Icon_UltimateSkill_Ifrit { width: 64px; height: 64px; background-position: -5px -301px; }
.sprite-Icon_UltimateSkill_Leets { width: 64px; height: 64px; background-position: -5px -375px; }
.sprite-Icon_UltimateSkill_MaestroMK2 { width: 64px; height: 64px; background-position: -5px -449px; }
.sprite-Icon_UltimateSkill_Maison { width: 64px; height: 64px; background-position: -5px -523px; }
.sprite-Icon_UltimateSkill_Mayo { width: 64px; height: 64px; background-position: -5px -597px; }
.sprite-Icon_UltimateSkill_Ner { width: 64px; height: 64px; background-position: -5px -671px; }
.sprite-Icon_UltimateSkill_RenewaAwaken { width: 64px; height: 64px; background-position: -5px -745px; }
.sprite-Icon_UltimateSkill_Shady { width: 64px; height: 64px; background-position: -5px -819px; }
.sprite-Icon_UltimateSkill_Sist { width: 64px; height: 64px; background-position: -5px -893px; }
.sprite-Icon_UltimateSkill_Yumimi { width: 64px; height: 64px; background-position: -5px -967px; }
/* Vivacious */
.sprite-Icon_UltimateSkill_Beni { width: 64px; height: 64px; background-position: -5px -5px; }
.sprite-Icon_UltimateSkill_Butter { width: 64px; height: 64px; background-position: -5px -79px; }
.sprite-Icon_UltimateSkill_Canna { width: 64px; height: 64px; background-position: -5px -153px; }
.sprite-Icon_UltimateSkill_Carren { width: 64px; height: 64px; background-position: -5px -227px; }
.sprite-Icon_UltimateSkill_Epica { width: 64px; height: 64px; background-position: -5px -301px; }
.sprite-Icon_UltimateSkill_Jubee { width: 64px; height: 64px; background-position: -5px -375px; }
.sprite-Icon_UltimateSkill_Marie { width: 64px; height: 64px; background-position: -5px -449px; }
.sprite-Icon_UltimateSkill_Momo { width: 64px; height: 64px; background-position: -5px -523px; }
.sprite-Icon_UltimateSkill_Mynx { width: 64px; height: 64px; background-position: -5px -597px; }
.sprite-Icon_UltimateSkill_Rude { width: 64px; height: 64px; background-position: -5px -671px; }
.sprite-Icon_UltimateSkill_Rufo { width: 64px; height: 64px; background-position: -5px -745px; }
.sprite-Icon_UltimateSkill_Selline { width: 64px; height: 64px; background-position: -5px -819px; }
.sprite-Icon_UltimateSkill_Shoupan { width: 64px; height: 64px; background-position: -5px -893px; }
.sprite-Icon_UltimateSkill_Taida { width: 64px; height: 64px; background-position: -5px -967px; }
.sprite-Icon_UltimateSkill_Ui { width: 64px; height: 64px; background-position: -5px -1041px; }
.sprite-Icon_UltimateSkill_Tig { width: 64px; height: 64px; background-position: -5px -1115px; }
